#halfSpeed{
    pointer-events: auto;
}
#doubleSpeed{
    pointer-events: auto;
}
#play{
    pointer-events: auto;
}
#pause{
    pointer-events: none;
}
#bw{
    pointer-events: none;
}
#fw{
    pointer-events: auto;
}
#dynamicMemory{
    border: 4px dotted yellowgreen;
}
#dynamicMemory:hover{
    cursor: pointer;
}
#staticMemory{
    border: 4px solid dimgray;
}
#staticMemory:hover{
    cursor: pointer;
}
table{
    font-size: 14px;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 1px solid #f0f8ff;
    text-align: center;
}
th{
    border: 1px solid #f0f8ff;
    text-align: center;
}
.highlightRow{
    background-color: aliceblue;
}
.framePointer{
    background-color: #70ffe7;
}
.stackPointer{
    background-color: #ff97b2;
}
.dataMem{
    font-size: 20px;
    text-align: center;
    border-collapse: separate;
}
.fas{
    font-size: 20px;
    margin-left: 7px;
    margin-right: 7px;
    color: #838dff;
}
.dataCircle{
    position: absolute;
    z-index: 3;
    opacity: 0;
    animation-play-state: paused;
    animation-timing-function: linear;
}
#data3_1{
    opacity: 1;
}
.CtlWire{
    position: absolute;
    z-index: 3;
    opacity: 0;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@font-face {
    font-family: 'Cormorant Unicase Bold';
    src: url("../css/Cormorant_Unicase/CormorantUnicase-Bold.ttf");
    src: url("../css/Cormorant_Unicase/CormorantUnicase-Bold.eot") format('eot'),
    url("../css/Cormorant_Unicase/CormorantUnicase-Bold.woff") format('woff'),
    url("../css/Cormorant_Unicase/CormorantUnicase-Bold.svg") format('svg');
}

@keyframes Wire {
    0%{
        opacity: 0;
    }
    87.5%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pathing {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    33% {
        opacity: 1;
        transform: translate3d(30px, 0px, 0px);
    }
    66% {
        opacity: 1;
        transform: translate3d(30px, -440px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(118px, -440px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(120px, -440px, 0px);
    }
}


@keyframes pathing2 {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translate3d(30px, 0px, 0px);
    }
    34% {
        opacity: 1;
    }
    99% {
        opacity: 1;
        transform: translate3d(94px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(96px, 0px, 0px);
    }
}

@keyframes pathing3 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(67px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(68px, 0px, 0px);
    }
}

@keyframes pathing4 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        opacity: 1;
        transform: translate3d(69.2px, 0px, 0px);
    }
    80% {
        opacity: 1;
        transform: translate3d(69.2px, -296px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(180px, -296px, 0px);
    }
}

@keyframes pathing42 {

    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    10% {
        opacity: 1;
        transform: translate3d(28px, 0px, 0px);
    }
    50% {
        opacity: 1;
        transform: translate3d(28px, -122px, 0px);
    }
    75% {
        opacity: 1;
        transform: translate3d(-100px, -122px, 0px);
    }
    100% {
        transform: translate3d(-100px, -160px, 0px);
    }

}

/*1*/    @keyframes pathing5 {
             0% {
                 opacity: 1;
                 transform: translate3d(0px, 0px, 0px);
             }
             25% {
                 opacity: 1;
                 transform: translate3d(69.2px, 0px, 0px);
             }
             49% {
                 opacity: 1;
                 transform: translate3d(69.2px, -128px, 0px);
             }
             90% {
                 transform: translate3d(129.2px, -128px, 0px);
                 opacity: 1;
             }
             100% {
                 transform: translate3d(129.2px, -128px, 0px);
                 opacity: 0;
             }
         }

/*1*/    @keyframes pathing6 {
             0% {
                 opacity: 1;
                 transform: translate3d(0px, 0px, 0px);
             }
             25% {
                 opacity: 1;
                 transform: translate3d(69.2px, 0px, 0px);
             }
             66% {
                 opacity: 1;
                 transform: translate3d(69.2px, -224px, 0px);
             }
             90% {
                 transform: translate3d(189.2px, -224px, 0px);
                 opacity: 1;
             }
             100% {
                 transform: translate3d(189.2px, -224px, 0px);
                 opacity: 0;
             }
         }

@keyframes pathing7 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    25% {
        opacity: 1;
        transform: translate3d(672px, 0px, 0px);
    }
    30% {
        opacity: 1;
        transform: translate3d(672px, -40px, 0px);
    }
    45% {
        opacity: 1;
        transform: translate3d(952px, -40px, 0px);
    }
    65% {
        opacity: 1;
        transform: translate3d(952px, 60px, 0px);
    }
    75% {
        opacity: 1;
        transform: translate3d(1000px, 60px, 0px);
    }
    90% {
        opacity: 1;
        transform: translate3d(1000px, 92px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(1100px, 92px, 0px);
    }
    100% {
        transform: translate3d(1100px, 92px, 0px);
    }
}

@keyframes pathing72 {
    0%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    15% {
        opacity: 1;
        transform: translate3d(672px, 0px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(820px, 0px, 0px);
    }
    100%{
        transform: translate3d(820px, 0px, 0px);
    }
}

@keyframes pathing8 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    99% {
        opacity:1;
        transform: translate3d(124px, 0px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(124px, 0px, 0px);
    }
}



@keyframes pathing9 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    99% {
        opacity: 1;
        transform: translate3d(60px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(60px, 0px, 0px);
    }
}


@keyframes pathing10 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    55.5% {
        opacity: 1;
        transform: translate3d(60px, 0px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(60px, 28px, 0px);
    }
    65% {
        transform: translate3d(88px, 28px, 0px);
        opacity: 1;
    }
    70% {
        transform: translate3d(88px, -40px, 0px);
        opacity: 1;
    }
    99% {
        transform: translate3d(116px, -40px, 0px);
        opacity: 1;
    }
    100% {
        transform: translate3d(116px, -40px, 0px);
        opacity: 0;
    }
}


@keyframes pathing11 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    20% {
        opacity: 1;
        transform: translate3d(28px, 0px, 0px);
    }
    40% {
        opacity: 1;
        transform: translate3d(28px, -220px, 0px);
    }
    60% {
        opacity: 1;
        transform: translate3d(-1372px, -220px, 0px);
    }
    80% {
        opacity: 1;
        transform: translate3d(-1372px, 244px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(-1340px, 244px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(-1340px, 244px, 0px);
    }
}


@keyframes pathing12{
    0%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    10%{
        opacity: 1;
        transform: translate3d(64px, 0px, 0px);
    }
    20%{
        opacity: 1;
        transform: translate3d(64px, 192px, 0px);
    }
    30%{
        opacity: 1;
        transform: translate3d(-258px, 192px, 0px);
    }
    40%{
        opacity: 1;
        transform: translate3d(-258px, 274px, 0px);
    }
    50%{
        opacity: 1;
        transform: translate3d(-316px, 274px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(-316px, 302px, 0px);
    }
    70%{
        opacity: 1;
        transform: translate3d(-516px, 302px, 0px);
    }
    80%{
        opacity: 1;
        transform: translate3d(-516px, 100px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(-480px,100px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(-480px, 100px, 0px);
    }
}


@keyframes pathing18 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(60px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(60px, 0px, 0px);
    }
}

/**/   @keyframes pathing19 {
           0% {
               opacity: 1;
               transform: translate3d(0px, 0px, 0px);
           }
           1%{
               opacity: 1;
           }
           19% {
               opacity: 1;
               transform: translate3d(69.2px, 0px, 0px);
           }
           20%{
               opacity: 1;
               transform: translate3d(69.2px, -12px, 0px);
           }
           30% {
               transform: translate3d(267.2px, -12px, 0px);
               opacity: 1;
           }
           37% {
               transform: translate3d(267.2px, 38px, 0px);
               opacity: 1;
           }
           45% {
               transform: translate3d(387.2px, 38px, 0px);
               opacity: 1;
           }
           60% {
               transform: translate3d(387.2px, -4px, 0px);
               opacity: 1;
           }
           75% {
               transform: translate3d(545.2px, -4px, 0px);
               opacity: 1;
           }
           90% {
               transform: translate3d(545.2px, -76px, 0px);
               opacity: 1;
           }
           100% {
               transform: translate3d(589.2px, -76px, 0px);
               opacity: 0;
           }
       }

/**/  @keyframes pathing20 {
          0% {
              opacity: 1;
              transform: translate3d(0px, 0px, 0px);
          }
          37.7% {
              opacity: 1;
              transform: translate3d(69.2px, 0px, 0px);
          }
          38.7%{
              opacity: 1;
              transform: translate3d(69.2px, -12px, 0px);
          }
          99%{
              transform: translate3d(301.2px, -12px, 0px);
              opacity: 1;
          }
          100%{
              transform: translate3d(301.2px, -12px, 0px);
              opacity: 0;
          }

      }

@keyframes pathing21 {
    0%{
        opacity: 1;
    }
    15%{
        opacity: 1;
        transform: translate3d(166px, 0px, 0px);
    }
    30%{
        opacity: 1;
        transform: translate3d(166px, -50px, 0px);
    }
    45%{
        opacity: 1;
        transform: translate3d(192px, -50px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(192px, -76px, 0px);
    }
    75%{
        opacity: 1;
        transform: translate3d(218px, -76px, 0px);
    }
    90%{
        opacity: 1;
        transform: translate3d(218px, -144px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(256px, -144px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(256px, -140px, 0px);
    }
}

@keyframes pathing22 {
    0%{
        opacity: 1;
    }
    30%{
        opacity: 1;
        transform: translate3d(170px, 0px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(170px, 244px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(120px, 242px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(120px, 242px, 0px);
    }
}

@keyframes pathing23 {
    0% {
        opacity: 1;
    }
    15%{
        opacity: 1;
        transform: translate3d(-56px, 0px ,0px);
    }
    30%{
        opacity: 1;
        transform: translate3d(-56px, 48px, 0px);
    }
    45%{
        opacity: 1;
        transform: translate3d(-144px, 48px, 0px);
    }
    55%{
        opacity: 1;
        transform: translate3d(-144px, 20px, 0px);
    }
    65%{
        opacity: 1;
        transform: translate3d(-344px, 20px, 0px);
    }
    80%{
        opacity: 1;
        transform: translate3d(-344px, -180px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(-320px, -180px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(-320px, -180px, 0px);
    }
}

@keyframes pathing24 {
    0% {
        opacity: 1;
    }
    20%{
        opacity: 1;
        transform: translate3d(22px, 0px, 0px);
    }
    40%{
        opacity: 1;
        transform: translate3d(22px, 86px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(424px, 86px, 0px);
    }
    80%{
        opacity: 1;
        transform: translate3d(424px, 252px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(340px, 252px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(340px, 252px, 0px);
    }
}

@keyframes pathing25 {
    0% {
        opacity: 1;
    }
    30%{
        opacity: 1;
        transform: translate3d(166px, 0px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(166px, -308px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(198px, -308px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(198px, -308px, 0px);
    }
}

@keyframes pathing26 {
    0%{
        opacity: 1;
    }
    99%{
        transform: translate3d(60px, 0px, 0px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate3d(60px, 0px, 0px);
    }
}


/**/   @keyframes pathing27 {
           0%{
               opacity: 1;
           }
           58.8%{
               transform: translate3d(60px, 0px, 0px);
               opacity: 1;
           }
           59.3%{
               transform: translate3d(60px, -44px, 0px);
               opacity: 1;
           }
           59.8%{
               transform: translate3d(132px, -44px, 0px);
               opacity: 1;
           }
           70%{
               transform: translate3d(164px, -44px, 0px);
               opacity: 1;
           }
           78%{
               opacity: 1;
               transform: translate3d(164px, 32px, 0px);
           }
           86%{
               opacity: 1;
               transform: translate3d(236px, 32px, 0px);
           }
           92%{
               opacity: 1;
               transform: translate3d(236px, 0px, 0px);
           }
           99%{
               opacity: 1;
               transform: translate3d(328px, 0px, 0px);
           }
           100%{
               opacity: 0;
               transform: translate3d(328px, 0px, 0px);
           }
       }

@keyframes pathing28 {

    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translate3d(58.8px, 0px, 0px);
    }
    66% {
        opacity: 1;
        transform: translate3d(58.8px, -352px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(108px, -352px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(108px, -352px, 0px);
    }

}


@keyframes pathing29 {

    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
        transform: translate3d(105.2px, 0px, 0px);
    }
    50% {
        opacity: 1;
        transform: translate3d(105.2px, -18.8px, 0px);
    }
    75% {
        opacity: 1;
        transform: translate3d(32px, -18.8px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(32px, -52px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(32px, -52px, 0px);
    }

}


/**/  @keyframes pathing30 {
          0% {
              opacity: 1;
          }
          50% {
              opacity: 1;
              transform: translate3d(104px, 0px, 0px);
          }
          60%{
              opacity: 1;
              transform: translate3d(296px, 0px, 0px);
          }
          70%{
              opacity: 1;
              transform: translate3d(296px, -108px, 0px);
          }
          80%{
              opacity: 1;
              transform: translate3d(676px, -108px, 0px);
          }
          90%{
              opacity: 1;
              transform: translate3d(676px, 104px, 0px);
          }
          99%{
              opacity: 1;
              transform: translate3d(744px, 104px, 0px);
          }
          100%{
              opacity: 0;
              transform: translate3d(744px, 104px, 0px);
          }
      }
